uiautodev==0.14.0
uiautomator2==3.5.0
pytesseract==0.3.13
opencv-python==4.13.0.92
ddddocr==1.5.6
# paddleocr==2.10.0
# paddlepaddle==2.6.2
easyocr==1.7.2
ocrmac==1.0.1; platform_system == "Darwin"
# torchaudio==2.10.0
# torch==2.10.0
# torchvision==0.25.0
